# Learning Pandas 

- libraries

In [1]:
import pandas as pandas
import numpy as numpy
import matplotlib.pyplot as plt

%matplotlib inline

### some data structure

- Series

In [2]:
# com índices

grades = pandas.Series([2,7,6,4,5,6,6,6])
grades

0    2
1    7
2    6
3    4
4    5
5    6
6    6
7    6
dtype: int64

In [4]:
# pegando todas as notas
grades.values

array([2, 7, 6, 4, 5, 6, 6, 6])

In [6]:
# intervalo de índices das notas
grades.index

RangeIndex(start=0, stop=8, step=1)

In [8]:
# usando strings como índices

grades2 = pandas.Series([2,7,6,4,5,6,6,6], index =["Finn", "Jake", "Marcy", "Bubblegum", "Phobe", "Simon", "Kim Kil Whan", "Betty"])
grades2

Finn            2
Jake            7
Marcy           6
Bubblegum       4
Phobe           5
Simon           6
Kim Kil Whan    6
Betty           6
dtype: int64

In [12]:
# pegando um elemento, usando como índice um int

grades[1]

7

In [13]:
# pegando um elemento, usando como índice uma string

grades2['Jake']

7

In [19]:
# alguns métodos

# pegando a média:
print("média: ", grades.mean())
# desvio padrão:
print("desvio padrão:", grades.std())
# quantidade de elementos dentro da serie
print ("Qunatidade: ", grades.count())
# menor elemento
print ("Menor: ", grades.min())
# maior elemento 
print ("Maior: ", grades.max())

média:  5.25
desvio padrão: 1.5811388300841898
Qunatidade:  8
Menor:  2
Maior:  7

In [20]:
# resumo sobre as estatísticas dos dados
grades.describe()

count    8.000000
mean     5.250000
std      1.581139
min      2.000000
25%      4.750000
50%      6.000000
75%      6.000000
max      7.000000
dtype: float64

In [23]:
# é possível aplicar algumas operações matemáticas direto na estrutura

print ("notas²: ")
print(grades ** 2, "\n")
print("notas x 2: ")
print(grades * 2, "\n")
print("notas / 2: ")
print(grades/2, "\n")
print("notas + 2: ") 
print(grades + 2, "\n")
print("notas - 2: ")
print(grades - 2)

notas²:
Finn             4
Jake            49
Marcy           36
Bubblegum       16
Phobe           25
Simon           36
Kim Kil Whan    36
Betty           36
dtype: int64

notas x 2:
Finn             4
Jake            14
Marcy           12
Bubblegum        8
Phobe           10
Simon           12
Kim Kil Whan    12
Betty           12
dtype: int64

notas / 2:
Finn            1.0
Jake            3.5
Marcy           3.0
Bubblegum       2.0
Phobe           2.5
Simon           3.0
Kim Kil Whan    3.0
Betty           3.0
dtype: float64

notas + 2:
Finn            4
Jake            9
Marcy           8
Bubblegum       6
Phobe           7
Simon           8
Kim Kil Whan    8
Betty           8
dtype: int64

notas - 2:
Finn            0
Jake            5
Marcy           4
Bubblegum       2
Phobe           3
Simon           4
Kim Kil Whan    4
Betty           4
dtype: int64

In [24]:
# usando o numpy na estrutura

numpy.log(grades)

Finn            0.693147
Jake            1.945910
Marcy           1.791759
Bubblegum       1.386294
Phobe           1.609438
Simon           1.791759
Kim Kil Whan    1.791759
Betty           1.791759
dtype: float64

- Data frame

In [28]:
dataFrame = pandas.DataFrame({'Student' : ["Finn", "Jake", "Marcy", "Bubblegum", "Phobe", "Simon", "Kim Kil Whan", "Betty"],
                             'Grades' : [2,7,6,4,5,6,6,6],
                            'Seminar' : [8.9, 9.1, 8.1, 10.0, 7.9, 5.5, 6.1, 6.9]})
dataFrame

   Grades  Seminar       Student
0       2      8.9          Finn
1       7      9.1          Jake
2       6      8.1         Marcy
3       4     10.0     Bubblegum
4       5      7.9         Phobe
5       6      5.5         Simon
6       6      6.1  Kim Kil Whan
7       6      6.9         Betty

In [29]:
# obtendo o tipo de dados de cada coluna

dataFrame.dtypes

Grades       int64
Seminar    float64
Student     object
dtype: object

In [30]:
# acessando a lista de colunas

dataFrame.columns

Index(['Grades', 'Seminar', 'Student'], dtype='object')

In [32]:
dataFrame.columns[1]

'Seminar'

In [33]:
# obtendo o resumo das estatísticas da estrutura

dataFrame.describe()

         Grades    Seminar
count  8.000000   8.000000
mean   5.250000   7.812500
std    1.581139   1.550518
min    2.000000   5.500000
25%    4.750000   6.700000
50%    6.000000   8.000000
75%    6.000000   8.950000
max    7.000000  10.000000

In [35]:
# É possível ordenar a estrutura por uma coluna, porém não modifica a estrutura original

df = dataFrame.sort_values(by = "Seminar")
df

   Grades  Seminar       Student
5       6      5.5         Simon
6       6      6.1  Kim Kil Whan
7       6      6.9         Betty
4       5      7.9         Phobe
2       6      8.1         Marcy
0       2      8.9          Finn
1       7      9.1          Jake
3       4     10.0     Bubblegum

In [36]:
dataFrame

   Grades  Seminar       Student
0       2      8.9          Finn
1       7      9.1          Jake
2       6      8.1         Marcy
3       4     10.0     Bubblegum
4       5      7.9         Phobe
5       6      5.5         Simon
6       6      6.1  Kim Kil Whan
7       6      6.9         Betty

In [37]:
# selecionando elementos da estrutura por indice

dataFrame.loc[6]

Grades                6
Seminar             6.1
Student    Kim Kil Whan
Name: 6, dtype: object

In [39]:
# selecionando elementos da estrutura a partir de uma expressão boleana

dataFrame[dataFrame["Seminar"] > 7.0]

   Grades  Seminar    Student
0       2      8.9       Finn
1       7      9.1       Jake
2       6      8.1      Marcy
3       4     10.0  Bubblegum
4       5      7.9      Phobe

In [42]:
dataFrame[(dataFrame["Seminar"] >= 7.0) & (dataFrame['Grades'] >= 5.0)]

   Grades  Seminar Student
1       7      9.1    Jake
2       6      8.1   Marcy
4       5      7.9   Phobe