# Learning Pandas 

- libraries

In [1]:
import pandas as pandas
import numpy as numpy
import matplotlib.pyplot as plt

%matplotlib inline

### some data structure

- Series

In [2]:
# com índices

grades = pandas.Series([2,7,6,4,5,6,6,6])
grades

0    2
1    7
2    6
3    4
4    5
5    6
6    6
7    6
dtype: int64

In [3]:
# pegando todas as notas
grades.values

array([2, 7, 6, 4, 5, 6, 6, 6])

In [4]:
# intervalo de índices das notas
grades.index

RangeIndex(start=0, stop=8, step=1)

In [5]:
# usando strings como índices

grades2 = pandas.Series([2,7,6,4,5,6,6,6], index =["Finn", "Jake", "Marcy", "Bubblegum", "Phobe", "Simon", "Kim Kil Whan", "Betty"])
grades2

Finn            2
Jake            7
Marcy           6
Bubblegum       4
Phobe           5
Simon           6
Kim Kil Whan    6
Betty           6
dtype: int64

In [6]:
# pegando um elemento, usando como índice um int

grades[1]

7

In [7]:
# pegando um elemento, usando como índice uma string

grades2['Jake']

7

In [8]:
# alguns métodos

# pegando a média:
print("média: ", grades.mean())
# desvio padrão:
print("desvio padrão:", grades.std())
# quantidade de elementos dentro da serie
print ("Qunatidade: ", grades.count())
# menor elemento
print ("Menor: ", grades.min())
# maior elemento 
print ("Maior: ", grades.max())

média:  5.25
desvio padrão: 1.5811388300841898
Qunatidade:  8
Menor:  2
Maior:  7

In [9]:
# resumo sobre as estatísticas dos dados
grades.describe()

count    8.000000
mean     5.250000
std      1.581139
min      2.000000
25%      4.750000
50%      6.000000
75%      6.000000
max      7.000000
dtype: float64

In [10]:
# é possível aplicar algumas operações matemáticas direto na estrutura

print ("notas²: ")
print(grades ** 2, "\n")
print("notas x 2: ")
print(grades * 2, "\n")
print("notas / 2: ")
print(grades/2, "\n")
print("notas + 2: ") 
print(grades + 2, "\n")
print("notas - 2: ")
print(grades - 2)

notas²:
0     4
1    49
2    36
3    16
4    25
5    36
6    36
7    36
dtype: int64

notas x 2:
0     4
1    14
2    12
3     8
4    10
5    12
6    12
7    12
dtype: int64

notas / 2:
0    1.0
1    3.5
2    3.0
3    2.0
4    2.5
5    3.0
6    3.0
7    3.0
dtype: float64

notas + 2:
0    4
1    9
2    8
3    6
4    7
5    8
6    8
7    8
dtype: int64

notas - 2:
0    0
1    5
2    4
3    2
4    3
5    4
6    4
7    4
dtype: int64

In [11]:
# usando o numpy na estrutura

numpy.log(grades)

0    0.693147
1    1.945910
2    1.791759
3    1.386294
4    1.609438
5    1.791759
6    1.791759
7    1.791759
dtype: float64

- Data frame

In [12]:
dataFrame = pandas.DataFrame({'Student' : ["Finn", "Jake", "Marcy", "Bubblegum", "Phobe", "Simon", "Kim Kil Whan", "Betty"],
                             'Grades' : [2,7,6,4,5,6,6,6],
                            'Seminar' : [8.9, 9.1, 8.1, 10.0, 7.9, 5.5, 6.1, 6.9]})
dataFrame

   Grades  Seminar       Student
0       2      8.9          Finn
1       7      9.1          Jake
2       6      8.1         Marcy
3       4     10.0     Bubblegum
4       5      7.9         Phobe
5       6      5.5         Simon
6       6      6.1  Kim Kil Whan
7       6      6.9         Betty

In [13]:
# obtendo o tipo de dados de cada coluna

dataFrame.dtypes

Grades       int64
Seminar    float64
Student     object
dtype: object

In [14]:
# acessando a lista de colunas

dataFrame.columns

Index(['Grades', 'Seminar', 'Student'], dtype='object')

In [15]:
dataFrame.columns[1]

'Seminar'

In [16]:
# obtendo o resumo das estatísticas da estrutura

dataFrame.describe()

         Grades    Seminar
count  8.000000   8.000000
mean   5.250000   7.812500
std    1.581139   1.550518
min    2.000000   5.500000
25%    4.750000   6.700000
50%    6.000000   8.000000
75%    6.000000   8.950000
max    7.000000  10.000000

In [17]:
# É possível ordenar a estrutura por uma coluna, porém não modifica a estrutura original

df = dataFrame.sort_values(by = "Seminar")
df

   Grades  Seminar       Student
5       6      5.5         Simon
6       6      6.1  Kim Kil Whan
7       6      6.9         Betty
4       5      7.9         Phobe
2       6      8.1         Marcy
0       2      8.9          Finn
1       7      9.1          Jake
3       4     10.0     Bubblegum

In [18]:
dataFrame

   Grades  Seminar       Student
0       2      8.9          Finn
1       7      9.1          Jake
2       6      8.1         Marcy
3       4     10.0     Bubblegum
4       5      7.9         Phobe
5       6      5.5         Simon
6       6      6.1  Kim Kil Whan
7       6      6.9         Betty

In [19]:
# selecionando elementos da estrutura por indice

dataFrame.loc[6]

Grades                6
Seminar             6.1
Student    Kim Kil Whan
Name: 6, dtype: object

In [20]:
# selecionando elementos da estrutura a partir de uma expressão boleana

dataFrame[dataFrame["Seminar"] > 7.0]

   Grades  Seminar    Student
0       2      8.9       Finn
1       7      9.1       Jake
2       6      8.1      Marcy
3       4     10.0  Bubblegum
4       5      7.9      Phobe

In [21]:
dataFrame[(dataFrame["Seminar"] >= 7.0) & (dataFrame['Grades'] >= 5.0)]

   Grades  Seminar Student
1       7      9.1    Jake
2       6      8.1   Marcy
4       5      7.9   Phobe

#### Leitura de dados

- CSV

In [22]:
path = 'data/googleplaystore.csv'
dataFrame = pandas.read_csv(path)

# visualizando as n primeiras linhas
dataFrame.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

In [23]:
# exibindo as últimas n linhas
dataFrame.tail(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10831,payermonstationnement.fr,MAPS_AND_NAVIGATION,NaN,38,9.8M,"5,000+",Free,0,Everyone,Maps & Navigation,"June 13, 2018",2.0.148.0,4.0 and up
10832,FR Tides,WEATHER,3.8,1195,582k,"100,000+",Free,0,Everyone,Weather,"February 16, 2014",6.0,2.1 and up
10833,Chemin (fr),BOOKS_AND_REFERENCE,4.8,44,619k,"1,000+",Free,0,Everyone,Books & Reference,"March 23, 2014",0.8,2.2 and up
10834,FR Calculator,FAMILY,4.0,7,2.6M,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10835,FR Forms,BUSINESS,NaN,0,9.6M,10+,Free,0,Everyone,Business,"September 29, 2016",1.1.5,4.0 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

#### Manipulação dos dados

In [24]:
# listando os valores únicos de uma coluna
dataFrame["Category"].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [25]:
# contagem
dataFrame["Category"].value_counts()

FAMILY                 1972
GAME                   1144
TOOLS                   843
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         392
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     231
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
LIBRARIES_AND_DEMO       85
AUTO_AND_VEHICLES        85
WEATHER                  82
ART_AND_DESIGN           65
EVENTS                   64
COMICS                   60
PARENTING                60
BEAUTY                   53
1.9                       1
Name: Category, dtype: int64

In [26]:
# em porcentagem
dataFrame["Category"].value_counts(normalize=True)

FAMILY                 0.181902
GAME                   0.105525
TOOLS                  0.077760
MEDICAL                0.042708
BUSINESS               0.042432
PRODUCTIVITY           0.039111
PERSONALIZATION        0.036159
COMMUNICATION          0.035698
SPORTS                 0.035421
LIFESTYLE              0.035237
FINANCE                0.033761
HEALTH_AND_FITNESS     0.031455
PHOTOGRAPHY            0.030901
SOCIAL                 0.027212
NEWS_AND_MAGAZINES     0.026105
SHOPPING               0.023983
TRAVEL_AND_LOCAL       0.023799
DATING                 0.021585
BOOKS_AND_REFERENCE    0.021308
VIDEO_PLAYERS          0.016142
EDUCATION              0.014390
ENTERTAINMENT          0.013744
MAPS_AND_NAVIGATION    0.012637
FOOD_AND_DRINK         0.011715
HOUSE_AND_HOME         0.008117
LIBRARIES_AND_DEMO     0.007841
AUTO_AND_VEHICLES      0.007841
WEATHER                0.007564
ART_AND_DESIGN         0.005996
EVENTS                 0.005904
COMICS                 0.005535
PARENTING              0.005535
BEAUTY                 0.004889
1.9                    0.000092
Name: Category, dtype: float64

In [27]:
# agrupando
 dataFrame.groupby("Category").count()

,App,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
Category,,,,,,,,,,,,
1.9,1,1,1,1,1,1,1,0,1,1,1,0
ART_AND_DESIGN,65,62,65,65,65,65,65,65,65,65,64,65
AUTO_AND_VEHICLES,85,73,85,85,85,85,85,85,85,85,85,85
BEAUTY,53,42,53,53,53,53,53,53,53,53,53,53
BOOKS_AND_REFERENCE,231,178,231,231,231,231,231,231,231,231,230,231
BUSINESS,460,303,460,460,460,460,460,460,460,460,460,460
COMICS,60,58,60,60,60,60,60,60,60,60,60,60
COMMUNICATION,387,328,387,387,387,387,387,387,387,387,387,387
DATING,234,195,234,234,234,234,234,234,234,234,234,234
EDUCATION,156,155,156,156,156,156,156,156,156,156,156,156
ENTERTAINMENT,149,149,149,149,149,149,149,149,149,149,149,149
EVENTS,64,45,64,64,64,64,64,64,64,64,64,64
FAMILY,1972,1747,1972,1972,1972,1971,1972,1972,1972,1972,1969,1972
FINANCE,366,323,366,366,366,366,366,366,366,366,366,366
FOOD_AND_DRINK,127,109,127,127,127,127,127,127,127,127,127,127
GAME,1144,1097,1144,1144,1144,1144,1144,1144,1144,1144,1144,1144
HEALTH_AND_FITNESS,341,297,341,341,341,341,341,341,341,341,341,341
HOUSE_AND_HOME,88,76,88,88,88,88,88,88,88,88,88,88
LIBRARIES_AND_DEMO,85,65,85,85,85,85,85,85,85,85,84,85
LIFESTYLE,382,314,382,382,382,382,382,382,382,382,382,382
MAPS_AND_NAVIGATION,137,124,137,137,137,137,137,137,137,137,137,137
MEDICAL,463,350,463,463,463,463,463,463,463,463,463,463
NEWS_AND_MAGAZINES,283,233,283,283,283,283,283,283,283,283,283,283
PARENTING,60,50,60,60,60,60,60,60,60,60,60,60
PERSONALIZATION,392,314,392,392,392,392,392,392,392,392,392,390
PHOTOGRAPHY,335,317,335,335,335,335,335,335,335,335,335,335
PRODUCTIVITY,424,351,424,424,424,424,424,424,424,424,424,424
SHOPPING,260,238,260,260,260,260,260,260,260,260,260,260
SOCIAL,295,259,295,295,295,295,295,295,295,295,295,295
SPORTS,384,319,384,384,384,384,384,384,384,384,384,384
TOOLS,843,734,843,843,843,843,843,843,843,843,841,843
TRAVEL_AND_LOCAL,258,226,258,258,258,258,258,258,258,258,258,258
VIDEO_PLAYERS,175,160,175,175,175,175,175,175,175,175,175,175
WEATHER,82,75,82,82,82,82,82,82,82,82,82,82

In [28]:
# ordenando
dataFrame.groupby("Genres").count()["Reviews"].sort_values()

Genres
Role Playing;Education                   1
Strategy;Creativity                      1
Communication;Creativity                 1
Strategy;Education                       1
Comics;Creativity                        1
February 11, 2018                        1
Health & Fitness;Action & Adventure      1
Tools;Education                          1
Health & Fitness;Education               1
Card;Brain Games                         1
Travel & Local;Action & Adventure        1
Role Playing;Brain Games                 1
Board;Pretend Play                       1
Lifestyle;Education                      1
Lifestyle;Pretend Play                   1
Books & Reference;Creativity             1
Entertainment;Education                  1
Trivia;Education                         1
Music & Audio;Music & Video              1
Parenting;Brain Games                    1
Adventure;Brain Games                    1
Racing;Pretend Play                      1
Arcade;Pretend Play                      1
Puzzle;Education                         1
Strategy;Action & Adventure              2
Puzzle;Creativity                        2
Adventure;Education                      2
Casual;Music & Video                     2
Video Players & Editors;Creativity       2
Card;Action & Adventure                  2
                                      ...
Racing                                  98
Strategy                               107
Role Playing                           109
Food & Drink                           127
Maps & Navigation                      137
Puzzle                                 140
Video Players & Editors                173
Casual                                 193
Simulation                             200
Arcade                                 220
Books & Reference                      231
Dating                                 234
Travel & Local                         257
Shopping                               260
News & Magazines                       283
Social                                 295
Photography                            335
Health & Fitness                       341
Action                                 365
Finance                                366
Lifestyle                              381
Communication                          387
Personalization                        392
Sports                                 398
Productivity                           424
Business                               460
Medical                                463
Education                              549
Entertainment                          623
Tools                                  842
Name: Reviews, Length: 120, dtype: int64

In [30]:
def percent(valor):
    p = "%0.3f %%" %(valor * 100)
    return p

dataFrame["Category"].value_counts(normalize=True).apply(percent)

FAMILY                 18.190 %
GAME                   10.553 %
TOOLS                   7.776 %
MEDICAL                 4.271 %
BUSINESS                4.243 %
PRODUCTIVITY            3.911 %
PERSONALIZATION         3.616 %
COMMUNICATION           3.570 %
SPORTS                  3.542 %
LIFESTYLE               3.524 %
FINANCE                 3.376 %
HEALTH_AND_FITNESS      3.145 %
PHOTOGRAPHY             3.090 %
SOCIAL                  2.721 %
NEWS_AND_MAGAZINES      2.610 %
SHOPPING                2.398 %
TRAVEL_AND_LOCAL        2.380 %
DATING                  2.158 %
BOOKS_AND_REFERENCE     2.131 %
VIDEO_PLAYERS           1.614 %
EDUCATION               1.439 %
ENTERTAINMENT           1.374 %
MAPS_AND_NAVIGATION     1.264 %
FOOD_AND_DRINK          1.171 %
HOUSE_AND_HOME          0.812 %
LIBRARIES_AND_DEMO      0.784 %
AUTO_AND_VEHICLES       0.784 %
WEATHER                 0.756 %
ART_AND_DESIGN          0.600 %
EVENTS                  0.590 %
COMICS                  0.553 %
PARENTING               0.553 %
BEAUTY                  0.489 %
1.9                     0.009 %
Name: Category, dtype: object

In [34]:
# not a number
# o pandas preenche valores vazios de um data frame lido com um not a number

df = dataFrame
#substituindo um valor especifico por um NaN
df = df.replace({"Category": {"1.9" : "1.9(o que é isso?)"}})
df[df["Category"] == "1.9(o que é isso?)"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9(o que é isso?),19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [42]:
df = df.replace({"Category" : {"1.9(o que é isso?)" : numpy.nan}})
df["Category"].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION', nan],
      dtype=object)

In [57]:
# pegando as linhas que não tem um NaN

df2 = dataFrame.head(5)
df2 = df2.replace({"Content Rating" : {"Teen" : numpy.nan}})
df2.dropna()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [60]:
# preenchendo os NaN do dataFrame com outro valor

df2 = df2.fillna("Teen")
df2

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [62]:
# indicando quais valores do dataFrame são NaN

df2 = df2.replace({"Content Rating" : {"Teen" : numpy.nan}})
df2.isna()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False